.form-wrapper {
  margin: 0 auto; }

.input-fields {
  text-align: left; }

.fieldset {
  width: 50%;
  margin: 0 auto; }

label {
  font-weight: bold;
  padding: 0.5em 0;
  display: block; }

.text, input[type="text"], textarea {
  padding: 0.5em;
  width: 100%;
  border: 2px solid #8fc1e8;
  display: block; }

input[type="text"] {
  width: 40%; }

textarea {
  width: 60%;
  height: 10em;
  resize: none; }
