.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.table-row {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: 2px solid white;
  background: #85aff2;
}

.table--2cols .table-cell  { width: 50%; }
.table--3cols .table-cell  { width: 33.33%; }
.table--4cols .table-cell  { width: 25%; }
.table--5cols .table-cell  { width: 20%; }
.table--6cols .table-cell  { width: 16.6%; }

th {
  color:#D5DDE5;;
  background:#303e56;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#99c0ff;
}
 
tr:nth-child(odd):hover td {
  background:#3a3f47;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
